[Unit]
Description=Gracefully terminate graphical apps at session end
PartOf=graphical-session.target
Before=graphical-session.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=%h/.local/bin/graceful-logout.sh

[Install]
WantedBy=graphical-session.target

