[Unit]
Description=Gracefully shut down Brave Browser before system reboot/halt
DefaultDependencies=no
Before=shutdown.target reboot.target halt.target
Conflicts=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/shutdown-brave.sh
RemainAfterExit=true

[Install]
WantedBy=halt.target reboot.target shutdown.target

